@font-face {
  font-family: "FiraCode Nerd Font Mono";
  src: url("../fonts/FiraCodeNerdFontMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraCode Nerd Font Mono";
  src: url("../fonts/FiraCodeNerdFontMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --md-text-font-family: "Fira Sans", "Roboto", "Helvetica", "Arial", sans-serif;
  --md-code-font-family: "FiraCode Nerd Font Mono", "Fira Code", "Fira Mono", "Source Code Pro", monospace;
}
