/* Catppuccin Mocha (Dark) */
:root {
  --md-default-bg-color: #1e1e2e;
  --md-default-bg-color--light: #313244;
  --md-default-fg-color: #cdd6f4;
  --md-default-fg-color--light: #bac2de;
  --md-typeset-a-color: #89b4fa;

  --md-primary-fg-color: #cba6f7; /* mauve */
  --md-primary-fg-color--light: #ca9ee5;
  --md-primary-bg-color: #cba6f712;

  --md-code-fg-color: #f4b8e4; /* pink */
  --md-code-bg-color: #313244;

  /* Admonitions */
  --md-admonition-icon--success: "\f00c";
  --md-admonition-fg-color--success: #a6e3a1; /* green */
  --md-admonition-bg-color--success: #313244;
}

/* Catppuccin Latte (Light) */
[data-md-color-scheme="default"] {
  --md-default-bg-color: #eff0f6;
  --md-default-bg-color--light: #e5e7eb;
  --md-default-fg-color: #4c4f69;
  --md-default-fg-color--light: #5c5f77;
  --md-typeset-a-color: #286afa;

  --md-primary-fg-color: #ea76cb; /* pink */
  --md-primary-fg-color--light: #d52788;
  --md-primary-bg-color: #ea76cb12;

  --md-code-fg-color: #179299;
  --md-code-bg-color: #f0f1f4;
}
